body{
    background-color: rgb(107, 97, 117);
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 252, 252);
    border: 1px solid rgb(255, 253, 253) ;
    width: 150px;
    border-radius: 5px;
}

.txt{
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 25%;
}
